<html>
  <head>
    <title>Hello, ${class}</title>
  </head>
  <body>
    <h1>Hello, ${class}</h1>

    <p>
      My name is ${name}, 
      and this server is a ${instance_type} instance
      created on ${created_time} by ${owner}.
    </p>
  </body>
</html>
